<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %green([%15.15t]) %highlight(%-5level) [%logger{30}:%L] --  %msg  %n</pattern>
        </encoder>
    </appender>

<!--    <appender name="warn_file" class="ch.qos.logback.core.FileAppender">-->

<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>